@import "bourbon/bourbon";
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,800);

//FIGURE OUT font-face
// @include font-face("Open-Sans", "http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,800");

/////////// MIXINS  ////////////////

@mixin vertical-align {
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}

@mixin image-sizer {
     width: auto;
     max-width: 100%;
     height: auto;
     max-height: 300px;
}

@mixin border-radius {
     border-radius: 5px;
}

@mixin standard-padding {
     padding: 20px;
}
// @include standard-padding;

@mixin standard-margin {
     margin: 15px auto;
}
// @include standard-margin;

@mixin active-style {
     outline: none;
     border: 0;
}

/////////// VARIABLES ////////////////
$blue: #00C7DE;
$dark-blue: #005A6C;
$light-blue: #B5F8FF;
$dark-orange: #FFBE04;
$light-orange: #FFBE04;
$light-green: #75D1C6;
$dark-green: #29C2B0;




/////////// STYLES ////////////////

body {
	background-color: $dark-green;
	font-family: 'Open Sans', sans-serif;
     // font-size: 13px;
     margin: 0;
     bottom: 0;
}

*, *:before, *:after {
     @include box-sizing(border-box);
}

/////////// GLOBAL  ////////////////

.navbar {
     border: none;
     margin-bottom: 0;
     font-family: 'Open Sans', sans-serif;
     background-color: $dark-green;
}


h1 {
     margin: 0;
	color: white;
}

h2 {
     margin-top: 0;
     color: $dark-blue;
}

h3 {
     color: $dark-orange;
     margin-bottom: 15px;
}

p {
     margin-bottom: .5em;
}

.center {
     margin-left: auto;
     margin-right: auto;
}

.always-hidden {
     display: none;
}

button:focus {
     @include active-style;
}

header {
     // padding: auto 20px;
     height: 10vh;
     @include padding(0 2%);
     background-color: $dark-green;
     div {
          @include vertical-align;
     }
}

// .small-map {
//   width: 70% !important;
// }

#google-map {
    width: 100%;
    height:90vh;
    display: inline-block;
}



#info-contents {
  // min-width: 300px;
      // overflow: scroll;
     height: 90vh;
     position: relative;
     width: 100%;
     box-sizing: border-box;
     display: inline;
     padding: 0px;
     height: 50vh;
     right: 0;
     top: 0;
    .info-dropdown {
          overflow: scroll;
          height: 90vh;
          height: 100%;
          padding: 10% 10%;
          width: 100%;
     // margin: auto;
     text-align: center;
     background-color: white;
     }
}

#logo {
     width: 50%;
     float: left;
}

#buttons {
     margin: 10px 10px auto 0;
     text-align: right;
     width: 45%;
     float: right;
     display: inline-block;
}

.button-container {
     display: inline-block;
     margin: auto 10px;
}

button {
     border: 0;
     background-color: transparent;
     color: white;
     margin: auto;
     padding: 0;
     font-size: 15px;
}

button:hover {
     color: $dark-blue;
}

.hidden {
     display: none;
}

.infoWindow {
     background-color:red;
     text-align: center;
}



//////////////Curiousity Pane /////////

#guide-button-div {
     .curious-img {
          @include image-sizer;
     }
     .curious-description {
          color: $dark-blue;
     }
     .curious-type {
          color: $dark-green;
          font-weight: 300;
     }
}

#preview {
     img {
          @include image-sizer;
     }
}

//////ADD FORM STYLES
#{$all-text-inputs} {
     background-color: $light-blue;
     text-align: left;
     width: 100%;
     padding: 10px;
     margin: 10px auto;
     font-size: 15px;
}


form {
     p {
          margin: 0;
          line-height: 1.5em;
     }
     input[type="text"] {
          border: none;
          @include border-radius;
          @include active-style;
     }
     input[type="text"]:focus {
          background-color: $light-green;
     }
     input[type="file"] {
          text-align: center;
     button {
          background-color: blue;
     }
}

textarea {
     border: none;
     resize: none;
     font-size: 15px;
     background-color: $light-blue;
}

textarea:focus {
     background-color: $light-green;
     @include active-style;
}

#description {
     padding: 10px;
     width: 100%;
     height: 6em;
     line-height: 1.5em;
     vertical-align: top;
     @include border-radius;
     // @include standard-margin;
}

select {
     border: none;
     @include standard-margin;
     background-color: $light-blue;
     padding: 10px;
     width: 100%;
     margin: 5px auto;
}

input[type="submit"] {
     background-color: $blue;
     color: white;
     border: none;
     @include border-radius;
     font-size: 16px;
     padding: 10px;
     }
     input[type="file"] {
          color: transparent;
     }
}

/*img {
	max-width: 150px;
	border: 20px;
}*/

/*.mapMarker {
  box-shadow: 2px 2px 4px #333;
	border: 10px solid red;
	font-size: 10px;
}
*/

.gm-style {

}

.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}

//gooogle said to
// #markerLayer img {
//   // border: 2px solid red !important;
//   @include border-radius;
// }

/////////// MEDIA QUERIES  ////////////////
// @media screen and (min-width: 500px){
//   html{
//     font-size: 14px;
//   }
// }

@media screen and (min-width: 600px){
     html{
          font-size: 16px;
     }
          //   #info-contents {
          //   height: 90vh;
     // }
     #google-map {
          width: 65%;
          float: left;
     }
     #info-contents {
          width: 35%;
          display: inline;
          float: right;
          height: 90vh;
          overflow: scroll;
     }
     form {
          line-height: 3em;
     }
}

@media screen and (min-width: 1200px){
     html{
     // font-size: 16px;
     }
     #info-contents {
          width: 25%;
     }
     #google-map {
          width: 75%;
     }
}